<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centrelane - Market Operations Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/launcher.css') }}"
    />
    <script src="{{ url_for('static', filename='js/launcher.js') }}"></script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <h1>Market Operations Dashboard</h1>
      </div>
      <div class="content">
        <div class="group" id="new">
          <span class="group-name">Start New Session / Import file</span>
          <div class="buttons">
            <button id="new-session">New Session</button>
            <input
              type="file"
              id="session-upload"
              class="dropzone"
              name="session-upload"
              multiple="false"
            />
          </div>
        </div>
        <div class="group">
          <span class="group-name">Day-Ahead</span>
          <div class="buttons">
            <button data-filename="analysis_ONT_DA_misi_nysi.json">ONT misi/nysi</button>
            <button data-filename="analysis_ISNE_NY_DA.json">ISNE NY Analysis</button>
            <button data-filename="analysis_PJ_NY_DA.json">PJM NY Analysis</button>
            <button data-filename="analysis_PJM_MISO_DA_ModelManager.json">PJM MISO Models</button>
          </div>
        </div>
        <div class="group">
          <span class="group-name">MISOvirts</span>
          <div class="buttons">
            <button data-filename="ILLINOIS.json">Illinois</button>
            <button data-filename="MICHIGAN.json">Michigan</button>
            <button data-filename="ONT.json">Ontario</button>
            <button data-filename="SWPP.json">SWPP</button>
            <button data-filename="TEXAS.json">Texas</button>
          </div>
        </div>
        <div class="group">
          <span class="group-name">Etcetera</span>
          <div class="buttons">
            <button data-filename="one.json">One</button>
            <button data-filename="two.json">Two</button>
            <button data-filename="three.json">Three</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
